.delivery-form{
  margin-bottom: 20px;
  justify-content: flex-start;
 /*  flex-wrap: wrap; */
  align-items: center;
&-items{
  &:first-child{
    margin-right: 10%;
  }
    position: relative;
    display: flex;
    label{
   
      font-family: Barlow Condensed;
      font-size: 32px;
      font-weight: 400;
    margin-right: 12px;
    }
    .field{
      background: #F7F6F5;
      border: none;
      min-height: 42px;
      min-width: 210px;
      padding: 10px;
    z-index: 1;
    }
  
  
  }
}


.delivery-tooltip{
  z-index: 2;
  position: absolute;
  bottom: -60px;
  background: #000;
  color: white;
  padding: 12px 20px;
  min-width: fit-content;
  white-space: nowrap;
  max-height: 46px;
  border-radius: 8px;

 font-family: Cabin Condensed;
font-size: 18px;
font-weight: 700;
line-height: 22px;
opacity: 0;
}
.delivery-tooltip-active{
  opacity:1;
}

.delivery-tooltip::after{
  content: '';
  position: absolute;
  display: block;    
  width: 0px;        
  left: 30%;
  top: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #000;
  transform: translate(-50%, -100%);
}