.cart{
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 25px;
}
.cart-basket{
  justify-content: center;
  color: white;
background: #E4002B;
align-items: center;
border-radius: 18px;
padding: 6px 10px;
min-width:90px ;
p{
  margin-right: 10px;

}
}